<div  class="container rounded-2">
    <div id="profile-background">
      <div id="carouselExampleSlidesOnly" class="carousel slide ident col-5 "  data-bs-ride="carousel">
        <div class="carousel-inner ">
          <div class="carousel-item active img2">
            <img src="assets/img/logo_blanco.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/img/bajada.png" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
        <img src="assets/img/BANNER-FONDO.png" class="banner" alt="...">
    </div>
    <div id="info" style="padding: 16px" *ngFor="let info of datatable">
      <div id="info-img">
        <img id="info-user-img " class="foto d-none d-sm-inline" src="{{info.url_img}}">
      </div>
      <div id="info-data">
        <div>
          <h3 id="info-name" class="item1">{{info.apellido}} {{info.nombre}}</h3>
          <div class="item4">
            <span id="info-company">{{info.experiencia.empresa}}</span>
          </div>
          <div class="item4">
            <span id="info-position">{{info.experiencia.tipo_empleo.empleo_tipo}}</span> en <span id="info-company">{{info.experiencia.descripcion}}</span>
          </div>
          <div class="item4">
            <span id="info-ubication">{{info.domicilio}}</span>
          </div>
        </div>
      </div>
    </div>
</div>
