.foto {
  border-radius: 50%;
  width: 152px;
  height: 152px;
  margin-top: -110px;
  z-index: 10;
}

#info-data {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

div#info-data ul#info-details {
  width: 232px;
  list-style: none;
  flex-shrink: 0;
}
div#info-data ul#info-details li a {
  color: black;
  display: flex;
  text-decoration: none;
}
div#info-data ul#info-details li a h2 {
  font-size: 1rem;
  font-weight: 500;
  align-self: center;
  vertical-align: baseline;
}

#info{
  background-color: rgb(123, 126, 156);

}
#info-img {
  display: flex;
}
.btn-right {
  display: flex;
  align-self: flex-end;

}
.fa-button,.fa {
  color: black;
  display: block;
  height: 2.4rem;
  width: 2.4rem;
  line-height: 2.4rem;
  text-align: center;
  border-radius: 50%;
  background: white;
}
.fa-button:hover,.fa:hover {
  background: rgb(112, 152, 124);
  border: none;
}
div#profile-background .banner{
  color: #fff;
  width: 100%;
}
.ident{
  position: absolute;
  z-index: 1;
  margin-top: 6%;
  margin-left: 5%;

} 
.carousel{
  height: 120px;
  z-index: 1;
}
.img2{
  margin-top: 10%;
}

.data-control{
  display: flex;
}

.mr-auto{
  margin-right: 0!important;
  margin-left: auto!important;
}
.container{
  padding: 0%;
}
