<footer>
    <nav class="nav container-fluid" >
        <div>
            <p>©2022 - Andrade Jonatan</p>
        </div>
        <section class="socialmedia">
            <ul>
                <li class="nav-item active mx-0 mx-sm-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="https://facebook.com/yonatan.andrade" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                <li class="nav-item active mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="https://api.whatsapp.com/send?phone=542215254663" target="_blank"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                <li class="nav-item active mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="https://www.linkedin.com/in/jonatan-andrade-768a25224" target="_blank"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
                <li class="nav-item active mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="https://instagram.com/joniandradeok" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li class="nav-item active mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="mailto:yoni.lp91@gmail.com?" Subject=hola%20como%20andas%20 target="_blank"><i class="fas fa-envelope" aria-hidden="true"></i></a></li>
                <li class="nav-item active mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="https://github.com/jandrade21" target="_blank"><i class="fab fa-github" aria-hidden="true"></i></a></li>
            </ul>    
        </section>
    </nav>    
</footer>